@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-color: #E0B477;
  --dark-yellow-color: #db860f;
  --darker-yellow-color: #db9423;
  --space-between-sections: 10rem;
}

body {
  background: #070415;
  color: white;
}

#menuSection {
  margin-bottom: var(--space-between-sections);
}

/* Responsive layout */
@media (max-width: 800px) {

  :root {
    --button-font-size: 2rem;
  }

}