@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-color: #E0B477;
  --darker-yellow-color: #db9423;
  --space-between-sections: 10rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #070415;
  color: white;
}