@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-color: #E0B477;
  --darker-yellow-color: #db9423;
  --space-between-sections: 10rem;
}

body {
  background: #070415;
  color: white;
}

/* Responsive layout */
@media (max-width: 800px) {

  :root {
    --space-between-sections: 2rem;
  }

}