.header {
  position: sticky;
  top: 0;
  height: 0;
}

.headerInsideDiv a {
  transition: color 0.2s ease;
  text-decoration: none;
  cursor: pointer;
}

.headerInsideDiv a:hover {
  color: var(--yellow-color)
}

.headerInsideDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding: 1rem 0 1rem 0;
  box-shadow: inset 0 0 0 2000px #07041546;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-weight: 500;
  font-size: 0.85rem;
}

.headerInsideDiv>button {
  border-radius: 1.5rem;
  background-color: var(--darker-yellow-color);
  padding: 0.25rem 0.8rem 0.25rem 0.8rem;
  text-align: center;
  border: 2px solid var(--darker-yellow-color);
  transition-duration: 0.2s;
  font-size: 0.85rem;
}

.headerInsideDiv>button:hover {
  background-color: transparent;
}

.logoImage {
  width: 4.5rem;
  height: 1.8rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url("../content/footer.jpg");
  /* Center the image */
  background-position: center;
  /* Do not repeat the image */
  background-repeat: no-repeat;
  /* Resize the background image to cover the entire container */
  background-size: cover;
  /* Color overlay */
  box-shadow: inset 0 0 0 2000px #070415c9;
  background-attachment: fixed;
}

.footer>h1 {
  font-family: 'Abril Fatface', display;
  font-weight: 800;
  font-size: 4.5rem;
}

.footer>p {
  margin: 2rem 0 4rem 0;
  max-width: 50%;
  text-align: center;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.footer>button {
  border-radius: 1.5rem;
  background-color: var(--darker-yellow-color);
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-align: center;
  border: 2px solid var(--darker-yellow-color);
  transition-duration: 0.2s;
}

.footer>button:hover {
  background-color: transparent;
}

.footer>ul {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
}

.socialBox {
  color: white;
  transition: all 0.2s;
  padding: 0.5rem;
  border-radius: 100%;
}

.socialBox:hover {
  transform: scale(1.1);
}

.socialIcon {
  width: 2rem;
  height: 2rem;
}

/* Hamburger Menu */
.headerInsideDiv>span {
  display: none;
}

.hamburgerMenuCheckBox {
  display: none;
}

/* Responsive layout */
@media (max-width: 800px) {

  .footer {
    min-height: 50vh;
  }

  .footer>h1 {
    font-weight: 800;
    font-size: 2rem;
  }

  .footer>p {
    margin: 1rem 0 1.5rem 0;
    font-size: 0.5rem;
  }

  .footer>button {
    border-radius: 1.5rem;
    font-size: 0.7rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border: 1px solid var(--darker-yellow-color);
  }

  .footer>ul {
    margin-top: 1rem;
  }

  .socialBox {
    padding: 0.5rem;
  }

  .socialIcon {
    width: 1rem;
    height: 1rem;
  }

  /* Hamburger Menu */

  .logoImage,
  .headerInsideDiv>button {
    display: none;
  }

  .headerInsideDiv {
    display: block;
    position: absolute;
    right: 1rem;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  .hamburgerMenuCheckBox {
    display: block;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    position: absolute;
    cursor: pointer;
    /* hide this */
    opacity: 0;
    /* and place it over the hamburger */
    z-index: 2;
    -webkit-touch-callout: none;
  }

  .headerInsideDiv span {
    display: block;
    width: 1.5rem;
    height: 0.15rem;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  .spanElementOne {
    transform-origin: 0% 0%;
  }

  .spanElementTwo {
    transform-origin: 0% 100%;
  }

  /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
  .hamburgerMenuCheckBox:checked~.spanElementOne {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, 2px);
  }

  /*
 * But let's hide the middle one.
 */
  .hamburgerMenuCheckBox:checked~.spanElementTwo {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
 * Ohyeah and the last one should go the other direction
 */
  .hamburgerMenuCheckBox:checked~.spanElementThree {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -10px);
  }

  /*
 * Make this absolute positioned
 * at the top left of the screen
 */
  .menu {
    flex-direction: column;
    position: absolute;
    right: -1rem;
    width: 100vw;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    gap: 0;

    background: #262431f0;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  .menu li {
    padding: 0.25rem 0 0.25rem 0;
    font-size: 0.75rem;
  }

  /*
 * And let's slide it in from the left
 */
  .hamburgerMenuCheckBox:checked~ul {
    transform: none;
  }

}