.outerDiv {
    display: flex;
    flex-direction: column;
    font-family: 'Adamina', serif;
    width: inherit;
}

.outerDiv>p {
    color: rgba(165, 165, 165, 0.6);
    font-size: 1rem;
}

.nameAndPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -0.2rem;
}

.nameAndPrice>h3,
.nameAndPrice>h2 {
    font-size: 1.5rem;
}


.line {
    border-top: 1px solid rgba(165, 165, 165, 0.6);
}

.singleMenuSubEntryDiv {
    width: inherit;
    margin-bottom: 0.5rem;
}

/* Responsive layout */
@media (max-width: 800px) {

    .outerDiv>p {
        font-size: 0.5rem;
    }

    .nameAndPrice {
        margin-bottom: 0;
    }

    .nameAndPrice>h3,
    .nameAndPrice>h2 {
        font-size: 0.8rem;
    }

    .singleMenuSubEntryDiv {
        margin-bottom: 0.45rem;
    }

}