@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-color: #E0B477;
  --dark-yellow-color: #db860f;
  --darker-yellow-color: #db9423;
  --space-between-sections: 10rem;
  --small-top-margin: 2rem;
  --small-bottom-margin: 2rem;
  --section-min-height: 100vh;
  --titles-font-weight: 800;
  --font-family-1: 'Abril Fatface', display;
  --font-family-2: 'Poppins', sans-serif;
  --titles-font-size: 7rem;
  --subtitles-font-size: 2rem;
  --subtitles-font-weight: 600;
  --subsubtitles-font-size: 1.3rem;
  --section-title-font-size: 3.5rem;
  --section-title2-font-size: 1.5rem;
  --section-subtitle-font-size: 1.2rem;
  --section-text-font-size: 1rem;
  --menu-font-size: 0.85rem;
  --menu-font-weight: 500;
  --button-border-radius: 1.5rem;
  --button-font-size: 1rem;
  --menu-button-font-size: 0.85rem;
  --menu-logo-width: 4.5rem;
  --menu-logo-height: 1.8rem;
  /*width and height must have the same size. It has to be a square*/
  --social-icon-size: 2rem;
  --footer-title-font-size: 4.5rem;
  --picture-overlay-color: #070415c9;
}

body {
  background: #070415;
  color: white;
}

#menuSection {
  margin-bottom: var(--space-between-sections);
}

/* Responsive layout */
@media (max-width: 800px) {

  :root {
    --small-top-margin: 4rem;
    --small-bottom-margin: 5rem;
    --titles-font-size: 6rem;
    --subsubtitles-font-size: 1.7rem;
    --section-title-font-size: 5rem;
    --section-title2-font-size: 2rem;
    --section-subtitle-font-size: 3rem;
    --section-text-font-size: 1.5rem;
    --menu-font-size: 1.5rem;
    /*width and height must have the same size. It has to be a square*/
    --social-icon-size: 3rem;
    --footer-title-font-size: 5.5rem;
    --hamburger-menu-background: #070415;
    --button-font-size: 1.5rem;
  }

}