@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-color: #E0B477;
  --dark-yellow-color: #db860f;
  --darker-yellow-color: #db9423;
  --space-between-sections: 10rem;
  --small-top-margin: 2rem;
  --small-bottom-margin: 2rem;
  --section-min-height: 100vh;
  --titles-font-weight: 800;
  --font-family-1: 'Abril Fatface', display;
  --font-family-2: 'Poppins', sans-serif;
  --titles-font-size: 7rem;
  --subtitles-font-size: 2rem;
  --subtitles-font-weight: 600;
  --subsubtitles-font-size: 1.3rem;
  --section-title-font-size: 3.5rem;
  --section-title2-font-size: 1.5rem;
  --section-subtitle-font-size: 1.2rem;
  --section-text-font-size: 1rem;
  --button-border-radius: 1.5rem;
  --button-font-size: 1rem;
}

body {
  background: #070415;
  color: white;
}

#menuSection {
  margin-bottom: var(--space-between-sections);
}

/* Responsive layout */
@media (max-width: 800px) {

  :root {
    --small-top-margin: 4rem;
    --small-bottom-margin: 5rem;
    --titles-font-size: 6rem;
    --subsubtitles-font-size: 1.7rem;
    --section-title-font-size: 5rem;
    --section-title2-font-size: 2rem;
    --section-subtitle-font-size: 3rem;
    --section-text-font-size: 1.5rem;
    --button-font-size: 1.5rem;
  }

}