.outerDiv {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-3);
    width: inherit;
}

.outerDiv>p,
.nameAndPrice>p {
    color: var(--light-gray-color);
    font-size: var(--menu-subItem-font-size);
}

.nameAndPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -0.2rem;
}

.nameAndPrice>h2 {
    font-size: var(--name-and-price-font-size);
}

/* Responsive layout */
@media (max-width: 800px) {

    .nameAndPrice {
        margin-bottom: 0;
    }

    .nameAndPrice>p {
        margin-right: 1rem;
    }

    .nameAndPrice>h2 {
        line-break: auto;
        line-height: 1;
    }

}