.outerDiv {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-3);
    width: inherit;
}

.outerDiv>p {
    color: var(--light-gray-color);
    font-size: var(--menu-ingredient-font-size);
}

.nameAndPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -0.2rem;
}

.nameAndPrice>h3,
.nameAndPrice>h2 {
    font-size: var(--name-and-price-font-size);
}

.line {
    border-top: 1px solid var(--light-gray-color);
}

.singleMenuSubEntryDiv {
    width: inherit;
    margin-bottom: 0.5rem;
}

/* Responsive layout */
@media (max-width: 800px) {

    .nameAndPrice {
        margin-bottom: 0;
    }

    .nameAndPrice>h3,
    .nameAndPrice>h2 {
        line-break: auto;
        line-height: 1;
    }

    .nameAndPrice>h3 {
        margin-right: 2rem;
    }

    .line {
        border-top: 2px solid var(--light-gray-color);
    }

    .singleMenuSubEntryDiv {
        margin: 0.45rem 0 0.45rem 0;
    }

}